In [35]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [36]:
city_df = pd.read_csv("WeatherPy_challenge.csv")
city_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Weather,Rainfall (in) past three hours,Snowfall (in) past three hours
0,0,Ushuaia,-54.80,-68.30,48.20,70,40,28.86,AR,2020-02-23 08:03:16,scattered clouds,0.0,0.0
1,1,Karacakoy,41.40,28.38,46.00,61,20,9.17,TR,2020-02-23 08:03:16,few clouds,0.0,0.0
2,2,Kirovskiy,45.09,133.51,13.91,86,3,3.69,RU,2020-02-23 08:03:16,clear sky,0.0,0.0
3,3,Barrow,71.29,-156.79,-20.20,75,40,9.17,US,2020-02-23 08:03:17,scattered clouds,0.0,0.0
4,4,Victoria,22.29,114.16,79.00,53,1,11.41,HK,2020-02-23 08:03:06,clear sky,0.0,0.0

In [37]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Ask the customer to indicate rain preference and snow preference
raining = input("Would you like to be raining? (yes/no)")
snowing = input("Would you like it to be snowing? (yes/no)")

What is the minimum temperature you would like for your trip? 45
What is the maximum temperature you would like for your trip? 90
Would you like to be raining? (yes/no)yes
Would you like it to be snowing? (yes/no)no

In [38]:
# Setting up Filtering
for index, row in city_df.iterrows():
    if raining == 'yes':
        rainfall = city_df["Rainfall (in) past three hours"] != 0
    else:
        rainfall = city_df["Rainfall (in) past three hours"] == 0
    if snowing == "yes":
        snowfall = city_df["Snowfall (in) past three hours"] != 0
    else:
        snowfall = city_df["Snowfall (in) past three hours"] == 0

In [39]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_df.loc[(city_df["Max Temp"] <= max_temp) & (city_df["Max Temp"] >= min_temp) & 
                                  (city_df["Rainfall (in) past three hours"] != rainfall) & 
                                  (city_df["Snowfall (in) past three hours"] != snowfall)]
#???
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Weather,Rainfall (in) past three hours,Snowfall (in) past three hours
13,13,Busselton,-33.65,115.33,86.00,29,100,3.27,AU,2020-02-23 08:03:19,light rain,2.63,0.0
19,19,Sinnamary,5.38,-52.95,78.91,83,100,16.80,GF,2020-02-23 08:03:20,light rain,0.31,0.0
20,20,Butaritari,3.07,172.79,84.76,77,76,14.70,KI,2020-02-23 08:03:20,light rain,2.88,0.0
62,62,Taguatinga,-12.39,-46.57,70.61,96,100,1.54,BR,2020-02-23 08:03:28,light rain,1.56,0.0
83,83,Tutoia,-2.76,-42.27,72.00,96,100,2.17,BR,2020-02-23 07:59:14,light rain,1.19,0.0
95,95,Amarante Do Maranhao,-5.57,-46.74,71.64,98,100,5.17,BR,2020-02-23 08:03:34,light rain,2.00,0.0
99,99,Kapit,2.02,112.93,79.07,91,93,4.54,MY,2020-02-23 08:03:35,light rain,1.19,0.0
118,118,Tingo Maria,-9.29,-76.01,59.04,97,100,0.45,PE,2020-02-23 08:03:39,light rain,1.63,0.0
131,131,Bengkulu,-3.80,102.27,83.73,75,46,4.54,ID,2020-02-23 08:03:41,light rain,0.31,0.0
133,133,Zambezi,-13.54,23.10,76.86,82,97,7.11,ZM,2020-02-23 08:03:41,moderate rain,5.69,0.0

In [40]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng", "Weather"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Weather,Hotel Name
13,Busselton,AU,86.00,-33.65,115.33,light rain,
19,Sinnamary,GF,78.91,5.38,-52.95,light rain,
20,Butaritari,KI,84.76,3.07,172.79,light rain,
62,Taguatinga,BR,70.61,-12.39,-46.57,light rain,
83,Tutoia,BR,72.00,-2.76,-42.27,light rain,
95,Amarante Do Maranhao,BR,71.64,-5.57,-46.74,light rain,
99,Kapit,MY,79.07,2.02,112.93,light rain,
118,Tingo Maria,PE,59.04,-9.29,-76.01,light rain,
131,Bengkulu,ID,83.73,-3.80,102.27,light rain,
133,Zambezi,ZM,76.86,-13.54,23.10,moderate rain,

In [41]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [42]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [43]:
# Set the parameters to search for a hotels near locations
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [44]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Weather,Hotel Name
13,Busselton,AU,86.00,-33.65,115.33,light rain,Observatory Guest House
19,Sinnamary,GF,78.91,5.38,-52.95,light rain,ALETHEIA Appartement Sinnamary
20,Butaritari,KI,84.76,3.07,172.79,light rain,Isles Sunset Lodge
62,Taguatinga,BR,70.61,-12.39,-46.57,light rain,
83,Tutoia,BR,72.00,-2.76,-42.27,light rain,Pousada Guará's
95,Amarante Do Maranhao,BR,71.64,-5.57,-46.74,light rain,Hotéis Caçulinha
99,Kapit,MY,79.07,2.02,112.93,light rain,Hotel Meligai Kapit
118,Tingo Maria,PE,59.04,-9.29,-76.01,light rain,Hospedaje Paraíso
131,Bengkulu,ID,83.73,-3.80,102.27,light rain,Grage Hotel Bengkulu
133,Zambezi,ZM,76.86,-13.54,23.10,moderate rain,Royal Kutachika Lodge

In [46]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [48]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [49]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Save as CSV for use in other work
output_file = "WeatherPy_challenge.csv"
# Export data to csv
hotel_df.to_csv(output_file, index_label="City_ID")